[Unit]
Description=HTTP service for www.test. IPv4
After=network.target

[Service]
ExecStart=/usr/bin/python3 -m http.server 80 --bind 192.168.33.138 --directory /var/www/html
Restart=always

[Install]
WantedBy=multi-user.target
